.header {
	padding: 8px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1024;

	&.is-menu-opened {
		background-color: var(--color-blue);

		.languages__current {
			border-color: var(--dark-blue);
		}

		.languages {
			@include active {
				.languages__items {
					border-color: var(--dark-blue);
				}
			}
		}
	}

	&__logo {
		width: 62px;
		height: 62px;

		@include desktop {
			width: 118px;
			height: 118px;
		}

		@include laptop {
			width: 76px;
			height: 76px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__burger {
		position: relative;
		width: 32px;
		height: 32px;
		background: var(--color-blue);
		border-radius: 4px;

		span {
			position: absolute;
			left: 0;
			right: 0;
			display: inline-block;
			width: 20px;
			height: 2px;
			border-radius: 25px;
			margin: 0 auto;
			background-color: var(--color-gold);

			&:nth-child(1) {
				top: 8px;
			}

			&:nth-child(3) {
				bottom: 8px;
			}
		}

		@include active {
			background: var(--dark-blue);

			span {
				&:nth-child(1) {
					top: 15px;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					bottom: 15px;
					transform: rotate(-45deg);
				}
			}
		}

		@include desktop {
			display: none;
		}
	}

	&__logo {
		@include mobile {
			width: 62px;
			height: 62px;
		}
	}

	&__menu {
		z-index: 102;

		@include mobile {
			position: fixed;
			padding-bottom: 25px;
			top: 78px;
			left: 0;
			width: 100%;
			height: calc(var(--vh) - 78px);
			background: var(--color-blue);
			z-index: 101;
			opacity: 0;
			visibility: hidden;
			transform: translateX(-100%);
			transition: $duration-normal;

			@include active {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}
		}

		@include desktop {
			position: relative;
		}

		&-wrapper {
			@include mobile {
				overflow-x: hidden;
				overflow-y: auto;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
			}
		}

		&-number {
			display: flex;
			flex-direction: column;
			
			padding: 0 15px;
			margin: auto auto 0;
			text-align: center;

			b {
				display: block;
				font-weight: 700;
				font-size: 18px;
				line-height: 18px;
				color: var(--color-white);
			}

			span {
				display: block;
				font-weight: 700;
				font-size: 14px;
				line-height: 20px;
				color: var(--color-gold);
			}
		}

		&-social {
			
			padding: 0 15px;
			margin: 15px auto 0;
			display: flex;
			justify-content: center;

			@include desktop {
				display: none;
			}

			.social__link {
				width: 24px;
				height: 24px;
			}
		}

		&-location {
			
			padding: 0 15px;
			margin: 25px auto 30px;
			display: flex;
			justify-content: center;

			@include desktop {
				display: none;
			}

			.location {

				&__current {
					background: var(--dark-blue)!important;
					border-color: var(--dark-blue);
				}

				&__items {
					border: none;
					background: var(--dark-blue);
				}
			}
		}
	}

	&__lists {

		@include mobile {
			width: 100%;
			padding: 0 15px;
			margin: 0 auto;
		}
		
		@include desktop {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	&__list {
	
		@include desktop {
			&:not(:last-child) {
				margin-right: 22px;
			}
		}

		@include laptop {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}

	&__link {
		display: flex;
    align-items: center;
		padding: 17px 0;
		font-family: var(--font-secondary);
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: var(--light-gray);

		@include hover {
			color: var(--color-gold);
		}

		&:active {
			color: var(--color-gold);
		}

		@include desktop {
			padding: 17px;
			display: inline-flex;
		}

		@include laptop {
			padding: 10px;
			font-size: 14px;
		}
	}

	&__icon {
		margin-left: 8px;
		position: relative;
		display: inline-block;
		width: 10px;
    height: 10px;

		@include desktop {
			width: 14px;
			height: 14px;
		}

		&::after,
		&::before {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			border-radius: 25px;
			background-color: var(--color-gold);

			@include desktop {
				width: 14px;
			}
		}

		&::after {
			top: 1px;
			@include mobile {
				transform: rotate(45deg);
			}
			@include desktop {
				top: 0;
			}
		}

		&::before {
			bottom: 1px;
			
			@include mobile {
				transform: rotate(-45deg);
			}
			
			@include desktop {
				bottom: 0;
			}
		}

		span {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			bottom: 0;
			width: 14px;
			height: 2px;
			margin: auto;
			border-radius: 25px;
			background-color: var(--color-gold);

			@include desktop {
				display: inline-block;
			}
		}
	}

	&__right {
		display: flex;
	}

	&__number {
		margin-bottom: 16px;
		display: flex;
		flex-direction: column;
		text-align: right;
		b {
			display: block;
			font-weight: 700;
			font-size: 18px;
			line-height: 18px;
			color: var(--color-white);
		}

		span {
			display: block;
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: var(--color-gold);
		}
	}

	&__other {
		display: none;
		@include desktop {
			display: block;
			margin-right: 50px;
		}
	}

	&__location {
		display: none;

		@include desktop {
			display: block;
			margin-bottom: 13px;
		}
	}

	&__hasmenu {
		@include hover {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			background: var(--color-blue);
			transition: $duration-normal;

			.submenu {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__back {
		display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0;
		font-weight: 700;
		font-size: 12px;
		color: var(--color-white);
		&-icon {
			margin-right: 10px;
			display: inline-block;
			width: 27px;
			height: 14px;
			fill: none;
		}
	}
}

.submenu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: flex-start;
	opacity: 0;
	padding: 20px 15px;
	background: var(--color-blue);
	visibility: hidden;
	transition: $duration-normal;
	
	@include mobile {
		margin: 0 auto;
		flex-direction: column;
		transform: translateX(100%);

		@include active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}

	@include desktop {
		position: absolute;
		top: 100%;
		left: 0;
		padding: 24px 32px;
		border-radius: 4px;
		width: max-content;
	}

	@include laptop {
		flex-direction: column;
    gap: 50px;
	}

	&__list{

		@include mobile {
			margin-bottom: 30px;
		}

		@include desktop {
			width: max-content;

			&:not(:last-child) {
				margin-right: 80px;
			}
		}

		@include laptop {
			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}

	&__title {
		margin-bottom: 10px;
		font-weight: 700;
		color: var(--color-white);

		@include desktop {
			margin-bottom: 16px;
			font-size: 16px;
			line-height: 22px;
		}
	}

	&__wrapper {
		@include desktop {
			display: flex;
			align-items: flex-start;
		}
	}

	&__block {
		display: flex;
    flex-direction: column;
		
		@include desktop {
			max-width: 238px;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}

	&__link {
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		color: var(--light-gray);

		@include desktop {
			font-size: 14px;
			line-height: 20px;
		}

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		@include hover {
			color: var(--color-gold)
		}
	}
}

.location {
	position: relative;
	width: max-content;
	z-index: 102;

	@include active {
		.location__current {
			background: var(--color-blue);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	&__current {
		padding: 7px 20px;
		width: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-size: 12px;
		line-height: 1;
		color: var(--light-gray);
		border: 1px solid var(--color-blue);
		border-radius: 20px;
		cursor: pointer;

		@include hover {
			color: var(--color-gold);
			transition: $duration-normal;
		}
	}

	&__icon {
		margin-right: 10px;
		display: inline-block;
		width: 18px;
		height: 18px;
		flex: 0 0 18px;
	}

	&__arrow {
		position: relative;
		margin-left: 8px;
		display: inline-block;
    width: 10px;
    height: 10px;

		&::after,
		&::before {
			content: "";
			position: absolute;
			top: -3px;
			width: 100%;
			height: 100%;
			border-top: 2px solid var(--light-gray);
			border-left: 2px solid var(--light-gray);
			transform: rotate(225deg)
		}
	}

	&__items {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
		min-width: 100%;
    padding: 7px 19px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid var(--color-blue);
		background: var(--color-blue);
		opacity: 0;
		visibility: hidden;
		z-index: 2;
	}

	&__item {
		display: flex;
    flex-direction: column;
	}

	&__link {
		padding: 8px 0 8px 28px;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: var(--light-gray);
		@include mobile {
			padding: 10px 0;
		}

		@include hover {
			color: var(--color-gold);
		}
	}

	@include active {
		
		.location__items {
			opacity: 1;
			visibility: visible;
			transition: $duration-normal;
		}
	}
}

.languages {
	position: relative;
	width: max-content;
	cursor: pointer;
	z-index: 101;

	&__current {
		display: flex;
		align-items: center;
		padding: 7px 10px;
		border: 1px solid var(--color-blue);
		border-radius: 20px;

		@include desktop {
			padding: 7px 20px;
		}

		@include hover {
			.languages__text {
				color: var(--color-gold);
				transition: $duration-normal;
			}
		}
	}

	&__items {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding: 7px 10px;
		border: 1px solid var(--color-blue);
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		opacity: 0;
		visibility: hidden;

		@include desktop {
			padding: 7px 20px;
		}

		@include hover {
			.languages__text {
				color: var(--color-gold);
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__icon {
		margin-right: 5px;

		@include desktop {
			margin-right: 14px;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 14px;
		color: var(--light-gray);
	}

	@include active {
		.languages__current {
			border-bottom: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.languages__items {
			opacity: 1;
			visibility: visible;
			border-top: none;
			transition: $duration-normal;
		}
	}
}