.request {
  position: relative;
  padding: 72px 0;
  overflow: hidden;

  @include desktop {
    padding: 176px 0;
  }

  &__wrapper {
    @include laptop {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include desktop {
      padding: 0 144px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--color-gold);

    @include desktop {
      margin-bottom: 24px;
      font-size: 48px;
      line-height: 58px;
    }
  }

  p {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--light-gray);
    
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @include desktop {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__form {
		margin-top: 24px;
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		@include desktop {
			margin-top: 48px;
			gap: 20px;
		}

		.form-group {
			width: 100%;

			@include desktop {
				width: 300px;
			}

			@include laptop {
				width: 218px;
			}

			input {
				width: 100%;
			}

			&__btn {
			

				@include mobile {
					margin-top: 24px;
					width: 100%;
				}

				button {
					width: 100%;
				}
			}
		}

		.button {
			height: 43px;

			@include desktop {
				height: 51px;
			}
		}
	}

  .line {
    display: none;
    border-color: var(--color-blue);

    @include desktop {
      top: 0;
      right: -199px;
      display: block;
    }

    span {
      &:nth-child(1) {
        border-color: var(--color-blue);
      }
      &:nth-child(2),
      &:nth-child(3) {
        background-color: var(--color-blue);
      }
    }
  }

  .line-2 {
    display: none;
    position: absolute;
    left: 70px;
    bottom: 70px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid var(--color-blue);

    @include desktop {
      display: block;
    }

    span {
      position: absolute;
      display: block;
      margin: auto;
      background-color: var(--color-blue);

      &:nth-child(1) {
        left: 0;
        right: 0;
        bottom: -70px;
        width: 1px;
        height: 379px;
      }

      &:nth-child(2) {
        top: 0;
        bottom: 0;
        left: -70px;
        width: 90vw;
        height: 1px;
      }
    }
  }
}