section.request
  .container 
    .request__wrapper
      h3 Есть вопросы или или нужна консультация? 
      p Оставьте заявку, и мы в кратчайшие сроки свяжемся с ваи и поможем решить вашу проблему!
      form.request__form
        .form-group
          input(type="text" name="name" placeholder="Ваше имя*" required)
        .form-group
          input(type="text" name="phone" placeholder="Ваш телефон*" required)
        .form-group
          input(type="text" name="email" placeholder="Email")
        .form-group__btn
          button(type="submit").button.button-primary
            | Оставить заявку
  .line
    span
    span
    span
  .line-2
    span
    span