-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '/',
					name: 'главная'
				},
				{
					url: 'services.html',
					name: 'Услуги',
					submenu: [
						{
							title: 'Для физических лиц',
							items: {
								0: ['Поиск людей', 'Выявление факта супружеской неверности', 'Выявление образа жизни  детей и их круг общения', 'Наружное наблюдение', 'Проверка автотранспорта на угон, розыск', 'Проверка алиби', 'Проверка регистрации сделок', 'Содействие при расследовании дел'],
								1: ['Сбор сведений по гражданским и уголовным делам', 'Содействие адвокатам', 'Досудебное урегулирование конфликтов, услуги адвоката', 'Личная безопасность физического лица', 'Выполнение поручений частного характера', 'Прослушка мобильных телефонов']
							}
						},
						{
							title: 'Для юридических лиц',
							items: {
								0: ['Розыск имущества, товара, груза;', 'Розыск активов;', 'Проверка надежности делового партнера;', 'Проверка новых сотрудников, контроль действий персонала на рабочем месте;', 'Комплексная проверка помещений на наличие прослушивающих устройств;', 'Выявление шпионажа, недобросовестной конкуренции;'],
								1: ['Проверка кредитной истории;', 'Сбор информации об организации;', 'Сбор информации о частном лице;', 'Согласование спорных вопросов со структурами МВД;', 'Выявление краж, неучтенных заказов, взяток;', 'Экономическая безопасность предприятия;', 'Юридическое сопровождение предприятия.']
							}
						},
					]
				},
				{
					url: 'prices.html',
					name: 'Цены'
				},
				{
					url: 'faqs.html',
					name: 'Задать вопрос'
				},
				{
					url: 'contacts.html',
					name: 'Контакты'
				}
			]
		},

		socials: [
			{
				title: 'Telegram',
				icon: 'telegram'
			},
			{
				title: 'Whatsapp',
				icon: 'whatsapp'
			},
			{
				title: 'Viber',
				icon: 'viber'
			},
			{
				title: 'Позвонить',
				icon: 'call'
			},
			{
				title: 'Написать в почту',
				icon: 'mail'
			}
		],

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
