-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '/',
					name: 'главная'
				},
				{
					url: 'services.html',
					name: 'Услуги',
					submenu: [
						{
							title: 'Для физических лиц',
							items: {
								0: ['Поиск людей', 'Выявление факта супружеской неверности', 'Выявление образа жизни  детей и их круг общения', 'Наружное наблюдение', 'Проверка автотранспорта на угон, розыск', 'Проверка алиби', 'Проверка регистрации сделок', 'Содействие при расследовании дел'],
								1: ['Сбор сведений по гражданским и уголовным делам', 'Содействие адвокатам', 'Досудебное урегулирование конфликтов, услуги адвоката', 'Личная безопасность физического лица', 'Выполнение поручений частного характера', 'Прослушка мобильных телефонов']
							}
						},
						{
							title: 'Для юридических лиц',
							items: {
								0: ['Розыск имущества, товара, груза;', 'Розыск активов;', 'Проверка надежности делового партнера;', 'Проверка новых сотрудников, контроль действий персонала на рабочем месте;', 'Комплексная проверка помещений на наличие прослушивающих устройств;', 'Выявление шпионажа, недобросовестной конкуренции;'],
								1: ['Проверка кредитной истории;', 'Сбор информации об организации;', 'Сбор информации о частном лице;', 'Согласование спорных вопросов со структурами МВД;', 'Выявление краж, неучтенных заказов, взяток;', 'Экономическая безопасность предприятия;', 'Юридическое сопровождение предприятия.']
							}
						},
					]
				},
				{
					url: 'prices.html',
					name: 'Цены'
				},
				{
					url: 'faqs.html',
					name: 'Задать вопрос'
				},
				{
					url: 'contacts.html',
					name: 'Контакты'
				}
			]
		},

		footer: {
			menu: [
				{
					url: '/',
					name: 'Главная'
				},
				{
					url: '/counts.html',
					name: 'Цены'
				},
				{
					url: '/services.html',
					name: 'Услуги'
				},
				{
					url: '/faqs.html',
					name: 'Задать вопрос'
				},
				{
					url: '/bases.html',
					name: 'Базы данных'
				},
				{
					url: '/contacts.html',
					name: 'Контакты'
				}
			],

			socials: ['telegram', 'whatsapp', 'viber', 'call', 'mail']
		},

		socials: [
			{
				title: 'Telegram',
				icon: 'telegram'
			},
			{
				title: 'Whatsapp',
				icon: 'whatsapp'
			},
			{
				title: 'Viber',
				icon: 'viber'
			},
			{
				title: 'Позвонить',
				icon: 'call'
			},
			{
				title: 'Написать в почту',
				icon: 'mail'
			}
		],

		about: {
			lists: [
				{
					icon: 'icon-01',
					title: 'Гарантия конфиденциальности',
					subtitle: 'Регулярный инструктаж сотрудников и строгое соблюдение регламента, который требует держать полученные данные в тайне'
				},
				{
					icon: 'icon-02',
					title: 'Берем всё на себя',
					subtitle: 'Приступая к заказу, мы не вовлекаем клиента в процесс. Вы живете обычной жизнью, а мы решаем проблему'
				},
				{
					icon: 'icon-03',
					title: 'Наличие лицензии',
					subtitle: 'Наша деятельность в области оперативного сыска официально разрешена и регулируется федеральным законом'
				},
				{
					icon: 'icon-04',
					title: 'Отчет на каждом этапе',
					subtitle: 'Мы предоставляем полученную информацию по запросу клиента на всех стадиях расследования, не только по его окончании'
				},
			],

			grids: ['Потому что мы лучшие и мы на Вашей стороне.', 'За нашей спиной весь богатый опыт Международной Ассоциации Частных Детективов (IAPD).', 'У нас самые лучшие специалисты из различных отраслей Безопасности - IAPD(МОД).', 'Мы каждые полгода проводим Конференции и Семинары по различным отраслям Безопасности, соответственно и Вы получите лучшее.']
		},

		services: {
			fiz: [
				{
					image: 'item-1',
					title: 'Поиск людей'
				},
				{
					image: 'item-2',
					title: 'Выявление факта супружеской неверности'
				},
				{
					image: 'item-3',
					title: 'Выявление образа жизни  детей и их круг общения'
				},
				{
					image: 'item-4',
					title: 'Наружное наблюдение'
				},
				{
					image: 'item-5',
					title: 'Проверка автотранспорта на угон, розыск'
				},
				{
					image: 'item-6',
					title: 'Проверка алиби'
				},
				{
					image: 'item-7',
					title: 'Проверка регистрации сделок'
				},
				{
					image: 'item-8',
					title: 'Содействие при расследовании дел'
				},
				{
					image: 'item-9',
					title: 'Сбор сведений по гражданским и уголовным делам'
				},
				{
					image: 'item-10',
					title: 'Содействие адвокатам'
				},
				{
					image: 'item-11',
					title: 'Досудебное урегулирование конфликтов, услуги адвоката'
				},
				{
					image: 'item-12',
					title: 'Личная безопасность физического лица'
				},
				{
					image: 'item-13',
					title: 'Выполнение поручений частного характера'
				},
				{
					image: 'item-14',
					title: 'Прослушка мобильных телефонов'
				}
			],
			yur: [
				{
					image: 'item-1',
					title: 'Розыск имущества, товара, груза'
				},
				{
					image: 'item-2',
					title: 'Розыск активов'
				},
				{
					image: 'item-3',
					title: 'Проверка надежности делового партнера'
				},
				{
					image: 'item-4',
					title: 'Проверка новых сотрудников, контроль действий персонала на рабочем месте'
				},
				{
					image: 'item-5',
					title: 'Комплексная проверка помещений на наличие прослушивающих устройств'
				},
				{
					image: 'item-6',
					title: 'Выявление шпионажа, недобросовестной конкуренции'
				},
				{
					image: 'item-7',
					title: 'Проверка кредитной истории'
				},
				{
					image: 'item-8',
					title: 'Сбор информации об организации'
				},
				{
					image: 'item-9',
					title: 'Сбор информации о частном лице'
				},
				{
					image: 'item-10',
					title: 'Согласование спорных вопросов со структурами МВД'
				},
				{
					image: 'item-11',
					title: 'Выявление краж, неучтенных заказов, взяток'
				},
				{
					image: 'item-12',
					title: 'Экономическая безопасность предприятия'
				},
				{
					image: 'item-13',
					title: 'Юридическое сопровождение предприятия'
				},
				{
					image: 'item-14',
					title: 'Прослушка мобильных телефонов'
				}
			],
			lists: ['Стоимость детективных услуг определяется индивидуально в зависимости от сложности и объёма предстоящей работы.', 'Детективное сыскное агентство гарантирует конфиденциальность, высокое профессиональное качество детективных услуг.', 'На большинство запросов мы ответим в течение суток (24 часа).', 'Наше Детективное агентство предлагает абонентское обслуживание, стоимость которого мы определим на взаимовыгодной основе.'],
			inner: {
				0: ['ЦАБ Санкт - Петербурга и Ленинградской области;', 'ЦАБ Москвы и МО;', 'Телефонная база Санкт – Петербурга;', 'Телефонная база Москвы;', 'База данных ГИБДД;'],
				1: ['База данных МТС;', 'База данных Мегафон;', 'База данных Билайн;', 'База данных Теле 2;', 'База данных Скайлинк.'],
				2: ['Поиск людей по ФИО;', 'Узнать адрес по телефону;', 'Найти по адресу все интересующие данные', 'Найти по фамилии все интересующие данные', 'Телефон по адресу (поиск номеров людей);', 'Адрес по ФИО;'],
				3: ['Поиск городского телефона по ФИО;', 'Поиск сотового телефона по ФИО;', 'Пробивка сотового телефона;', 'Пробивка автомобиля по номеру;', 'Регистрация автомобиля по ФИО.']
			}
		},

		prices: [
			{
				title: 'Наружное наблюдение с использованием фото и видеоаппаратуры.',
				subtitle: 'Что по "пешеходу", что по объекту, который передвигается на авто, работает экипаж из двух и более человек, один за рулём автомобиля, второй при необходимости работает со скрытой видео-фотоаппаратурой.',
				halfBlock: true,
				items: [
					{
						header: 'Объект передвигается пешком:',
						body: [
							{
								desc: '2 часа наблюдения',
								count: '5 000 руб.'
							},
							{
								desc: '4 часа наблюдения',
								count: '9 000 руб.'
							},
							{
								desc: '8 часа наблюдения',
								count: '16 000 руб.'
							},
							{
								desc: '12 часов наблюдения',
								count: '20 000 руб.'
							},
							{
								desc: 'Сутки наблюдения (24 часа)',
								count: '30 000 руб.'
							},
						]
					},
					{
						header: 'Объект передвигается на автомобиле:',
						body: [
							{
								desc: '2 часа наблюдения',
								count: '6 000 руб.'
							},
							{
								desc: '4 часа наблюдения',
								count: '10 000 руб.'
							},
							{
								desc: '8 часа наблюдения',
								count: '16 000 руб.'
							},
							{
								desc: '12 часов наблюдения',
								count: '20 000 руб.'
							},
							{
								desc: 'Сутки наблюдения (24 часа)',
								count: '32 000 руб.'
							},
						]
					}
				]
			},
			{
				title: 'Поиск людей, номеров телефонов, адресов. Поиск места работы и т.д.',
				subtitle: null,
				halfBlock: false,
				items: [
					{
						header: null,
						body: [
							{
								desc: 'Пробить номер авто (машину по номеру, владельцы);',
								count: 'от 3 000 руб.'
							},
							{
								desc: 'Адрес по телефону',
								count: 'от 3 000 руб.'
							},
							{
								desc: 'Адрес по ФИО',
								count: 'от 3 000 руб.'
							},
							{
								desc: 'Городской телефон по ФИО',
								count: 'от 3 000 руб.'
							},
							{
								desc: 'Пробить сотовый телефон',
								count: 'от 3 000 руб.'
							},
							{
								desc: 'По ФИО найти номер сотового телефона',
								count: 'от 6 000 руб.'
							},
							{
								desc: 'Пробить машину по владельцу или номеру',
								count: 'от 3 000 руб.'
							},
						]
					}
				]
			},
			{
				title: 'Другие услугие которые мы предлагаем',
				subtitle: null,
				halfBlock: false,
				tabs: true,
				items: [
					{
						header: null,
						body: [
							{
								desc: 'Розыск имущества, товара, груза',
								count: 'от 500 000 руб.'
							},
							{
								desc: 'Розыск активов',
								count: 'от 900 000 руб.'
							},
							{
								desc: 'Проверка надежности делового партнера',
								count: 'от 250 000 руб.'
							},
							{
								desc: 'Проверка новых сотрудников, контроль действий персонала на рабочем месте',
								count: 'от 100 000 руб.'
							},
							{
								desc: 'Комплексная проверка помещений на наличие прослушивающих устройств',
								count: 'от 150 000 руб.'
							},
							{
								desc: 'Выявление шпионажа, недобросовестной конкуренции',
								count: 'от 320 000 руб.'
							},
							{
								desc: 'Проверка кредитной истории',
								count: 'от 10 000 руб.'
							},
							{
								desc: 'Сбор информации об организации',
								count: 'от 50 000 руб.'
							},
							{
								desc: 'Сбор информации о частном лице',
								count: 'от 20 000 руб.'
							},
							{
								desc: 'Согласование спорных вопросов со структурами МВД',
								count: 'от 150 000 руб.'
							},
							{
								desc: 'Выявление краж, неучтенных заказов, взяток',
								count: 'от 100 000 руб.'
							},
							{
								desc: 'Экономическая безопасность предприятия',
								count: 'от 3 000 000 руб.'
							},
							{
								desc: 'Юридическое сопровождение предприятия',
								count: 'от 700 000 руб.'
							}
						]
					},
					{
						header: null,
						body: [
							{
								desc: 'Розыск имущества, товара, груза',
								count: 'от 1 000 000 руб.'
							},
							{
								desc: 'Розыск активов',
								count: 'от 900 000 руб.'
							},
							{
								desc: 'Проверка надежности делового партнера',
								count: 'от 250 000 руб.'
							},
							{
								desc: 'Проверка новых сотрудников, контроль действий персонала на рабочем месте',
								count: 'от 100 000 руб.'
							},
							{
								desc: 'Комплексная проверка помещений на наличие прослушивающих устройств',
								count: 'от 150 000 руб.'
							},
							{
								desc: 'Выявление шпионажа, недобросовестной конкуренции',
								count: 'от 320 000 руб.'
							},
							{
								desc: 'Проверка кредитной истории',
								count: 'от 10 000 руб.'
							},
							{
								desc: 'Сбор информации об организации',
								count: 'от 50 000 руб.'
							},
							{
								desc: 'Сбор информации о частном лице',
								count: 'от 20 000 руб.'
							},
							{
								desc: 'Согласование спорных вопросов со структурами МВД',
								count: 'от 150 000 руб.'
							},
							{
								desc: 'Выявление краж, неучтенных заказов, взяток',
								count: 'от 100 000 руб.'
							},
							{
								desc: 'Экономическая безопасность предприятия',
								count: 'от 3 000 000 руб.'
							},
							{
								desc: 'Юридическое сопровождение предприятия',
								count: 'от 700 000 руб.'
							}
						]
					}
				]
			}
		],

		work: {
			lists: [
				{
					title: 'Обращаетесь к нам за консультацией',
					subtitle: 'Равным образом сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации.'
				},
				{
					title: 'Анализируем проблему и разрабатываем план действий',
					subtitle: 'Равным образом сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации.'
				},
				{
					title: 'Заключаем договор',
					subtitle: 'Равным образом сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации.'
				},
				{
					title: 'Проводим оперативную работу',
					subtitle: 'Равным образом сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации.'
				},
			]
		},

		faqs: [
			{
				name: 'Наталья',
				date: '07 May 2009 17:11',
				location: 'Москва, Московская область',
				question: 'здравствуйте. вчера украли 2 мобильных телефона, симки скорее всего уже выбросили. можете найти местоположение?',
				answer: 'Можно. Ответ на почте.'
			},
			{
				name: 'Алёна',
				date: '07 May 2009 01:21',
				location: 'место неизвестно',
				question: 'Здравствуйте! Делаете ли вы детализацию смс? Меня интерсует тел МТС. Если да, то сколько это стоит, какой способ оплаты и сроки? С уважением, Алена.',
				answer: 'Здравствуйте, Алена. Ответ на почте.'
			},
			{
				name: 'Влада',
				date: '24 April 2009 11:48',
				location: 'место неизвестно',
				question: 'Здравствуйте! Я знаю ФИО человека, идентификационный код. Подскажите, пожалуйста, как узнать его место работы и сколько это будет стоить, если обратиться в детективное агенство.',
				answer: 'Стоимость от 6000р.'
			},
			{
				name: 'Алексей',
				date: '23 April 2009 15:51',
				location: 'С-Петербург и Лен.обл.',
				question: 'Здравствуйте! Знаю ФИО и данные старого паспорта.Возможно узнать данные нового паспорта?',
				answer: 'Можно. Ответ на почте.'
			}
		],

		contacts: [
			{
				name: 'Москва',
				lists: [
					{
						title: 'Адрес:',
						subtitle: 'г. Москва, ул. Протопоповский пер. д. 19'
					},
					{
						title: 'Телефон:',
						subtitle: '8-981-715-09-99'
					},
					{
						title: 'Email:',
						subtitle: 'o-d-b.org@rambler.ru'
					},
				]
			},
			{
				name: 'Санкт-Петербург',
				lists: [
					{
						title: 'Адрес:',
						subtitle: 'г. Санкт-Петербург, ул. Магнитогорская дом 30 литера А, офис 617'
					},
					{
						title: 'Телефон:',
						subtitle: '8-981-715-09-99'
					},
					{
						title: 'Email:',
						subtitle: 'o-d-b.org@rambler.ru'
					},
				]
			},
		]
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
